<% unless @negociacao.nil? %>
<div class="block-border" style="max-width: 500px">
		<h1>Negociação:</h1>
		<div>
	<span style="margin-left: 10px;"> Data: </span>
	<b><%= @negociacao.updated_at.to_date.strftime('%d, %b %Y') %></b>
	<span style="margin-left: 10px;"> Vendedor </span>
	<b><%= @negociacao.usuario.nome %></b>
	</div>
	<div>
	<span style="margin-left: 10px;"> Empreendimento </span>
	<b><%= @negociacao.empreendimento.nome_do_empreendimento %></b>
	<span style="margin-left: 10px;"> Sala </span>
	<b><%= @negociacao.espaco.identificacao %></b>
	</div>
	<div class="clear" style="min-height: 10px;"></div>
	<div style="max-width: 500px;">
		<div class="block-content no-title">
		<%= @negociacao.negociacao %>
		</div>
	</div>
</div>
<div style="min-height: 15px;"></div>
<div style="float: left; min-height: 15px;"></div>
<div class="block-border" style="float: left;">
	<table>
	<h1>Simulação</h1>
	<% if @negociacao.simulacao.parcelas_30 && @negociacao.simulacao.parcelas_12.nil? %>
  <thead>
  	<tr>

    <th><div scope="col" class="block-border" style="margin-right: 2px; min-width: 50px"><b>Valor Total</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>Entrada %</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>Valor Entrada</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>Saldo</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>CUB</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>parcelas_30</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>36</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>48</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>48+</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>60</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>60+</b></div></th>
	</tr>
	</thead>

<tr class="block-content no-title">
  <td> <%= @negociacao.simulacao.valor_total.to_money('brl') if @negociacao.simulacao.valor_total  %> </td>
	<td> <%= @negociacao.simulacao.entrada %> </td>
	<td> <%= @negociacao.simulacao.valor_entrada.to_money("BRL") if @negociacao.simulacao.valor_entrada %> </td>
	<td> <%= @negociacao.simulacao.saldo.to_money("BRL") if @negociacao.simulacao.saldo %> </td>
	<td> <%= @negociacao.simulacao.cub %> </td>
	<td> <%= @negociacao.simulacao.parcelas_30.to_money("BRL") if @negociacao.simulacao.parcelas_30 %> </td>
	<td> <%= @negociacao.simulacao.parcelas_36.to_money("BRL") if @negociacao.simulacao.parcelas_36 %> </td>
	<td> <%= @negociacao.simulacao.parcelas_48.to_money("BRL") if @negociacao.simulacao.parcelas_48 %> </td>
	<td> <%= @negociacao.simulacao.parcelas_48_juros.to_money("BRL") if @negociacao.simulacao.parcelas_48_juros %> </td>
	<td> <%= @negociacao.simulacao.parcelas_60.to_money("BRL") if @negociacao.simulacao.parcelas_60 %> </td>
	<td> <%= @negociacao.simulacao.parcelas_60_juros.to_money("BRL") if @negociacao.simulacao.parcelas_60_juros %> </td>
</tr>
<tr class="block-content dark-bg no-title">
	<% unless @negociacao.simulacao.cub.nil? or @negociacao.simulacao.cub == 0 %>
	<td> <%= (@negociacao.simulacao.valor_total/@negociacao.simulacao.cub).to_money(:brl) if @negociacao.simulacao.valor_total %> </td>
	<td></td>
	<td> <%= (@negociacao.simulacao.valor_entrada/@negociacao.simulacao.cub).to_money("BRL") if @negociacao.simulacao.valor_entrada%> </td>
	<td> <%= (@negociacao.simulacao.saldo/@negociacao.simulacao.cub).to_money("BRL") if @negociacao.simulacao.saldo %> </td>
	<td> </td>
	<td> <%= (@negociacao.simulacao.parcelas_30/@negociacao.simulacao.cub).to_money("BRL") if @negociacao.simulacao.parcelas_30 %> </td>
	<td> <%= (@negociacao.simulacao.parcelas_36/@negociacao.simulacao.cub).to_money("BRL") if @negociacao.simulacao.parcelas_36%> </td>
	<td> <%= (@negociacao.simulacao.parcelas_48/@negociacao.simulacao.cub).to_money("BRL") if @negociacao.simulacao.parcelas_48%> </td>
	<td> <%= (@negociacao.simulacao.parcelas_48_juros/@negociacao.simulacao.cub).to_money("BRL") if @negociacao.simulacao.parcelas_48_juros%> </td>
	<td> <%= (@negociacao.simulacao.parcelas_60/@negociacao.simulacao.cub).to_money("BRL") if @negociacao.simulacao.parcelas_60 %> </td>
	<td> <%= (@negociacao.simulacao.parcelas_60_juros/@negociacao.simulacao.cub).to_money("BRL") if @negociacao.simulacao.parcelas_60_juros %> </td>
	<% end %>
</tr>
<% else %>
	  <thead>
  	<tr>

    <th><div scope="col" class="block-border" style="margin-right: 2px; min-width: 50px"><b>Valor Total</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>Entrada %</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>Valor Entrada</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>Saldo</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>CUB</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>12</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>24</b></div></th>
    <th><div class="block-border" style="margin-right: 2px; min-width: 50px"><b>50</b></div></th>
	</tr>
	</thead>

<tr class="block-content no-title">
  <td> <%= @negociacao.simulacao.valor_total.to_money('brl') if @negociacao.simulacao.valor_total  %> </td>
	<td> <%= @negociacao.simulacao.entrada %> </td>
	<td> <%= @negociacao.simulacao.valor_entrada.to_money("BRL") if @negociacao.simulacao.valor_entrada %> </td>
	<td> <%= @negociacao.simulacao.saldo.to_money("BRL") if @negociacao.simulacao.saldo %> </td>
	<td> <%= @negociacao.simulacao.cub %> </td>
	<td> <%= @negociacao.simulacao.parcelas_12.to_money("BRL") if @negociacao.simulacao.parcelas_12 %> </td>
	<td> <%= @negociacao.simulacao.parcelas_24.to_money("BRL") if @negociacao.simulacao.parcelas_24 %> </td>
	<td> <%= @negociacao.simulacao.parcelas_50.to_money("BRL") if @negociacao.simulacao.parcelas_50 %> </td>
</tr>
<% end -%>

</table>

</div>
	<% end %>
