<p id="notice"><%= notice %></p>

<p>
  <b>Id empreendimento:</b>
  <%= @pavimento.empreendimento_id %>
</p>

<p>
  <b>Andar:</b>
  <%= @pavimento.andar %>
</p>

<p>
  <b>Planta pavimento:</b>
  <%= @pavimento.planta_pavimento %>
</p>


<%= link_to 'Edit', edit_pavimento_path(@pavimento) %> |
<%= link_to 'Back', pavimentos_path %>
