<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @historico_de_contato.data %>
</p>

<p>
  <b>Cliente:</b>
  <%= @historico_de_contato.cliente_id %>
</p>

<p>
  <b>Espaco:</b>
  <%= @historico_de_contato.espaco_id %>
</p>

<p>
  <b>Usuario:</b>
  <%= @historico_de_contato.usuario_id %>
</p>

<p>
  <b>Empresa:</b>
  <%= @historico_de_contato.empresa_id %>
</p>

<p>
  <b>Empreendimento:</b>
  <%= @historico_de_contato.empreendimento_id %>
</p>

<p>
  <b>Negociacao:</b>
  <%= @historico_de_contato.negociacao %>
</p>

<p>
  <b>Simulacao:</b>
  <%= @historico_de_contato.simulacao_id %>
</p>


<%= link_to 'Edit', edit_historico_de_contato_path(@historico_de_contato) %> |
<%= link_to 'Back', historico_de_contatos_path %>
