<h1>Listing user_sessions</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuario_sessions.each do |usuario_session| %>
  <tr>
    <td><%= usuario_session.username %></td>
    <td><%= usuario_session.password %></td>
    <td><%= link_to 'Show', usuario_session %></td>
    <td><%= link_to 'Edit', edit_usuario_session_path(usuario_session) %></td>
    <td><%= link_to 'Destroy', usuario_session, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User session', new_usuario_session_path %>
